<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Science Camp 2024 - Raspberry Pi Hub</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <div class="wrapper">
        <%-body%>
    </div>
    <footer>
        &copy; Chair of Advanced Stuctures, Bauhaus University Weimar. More you will find <a target="_blank" href="https://www.uni-weimar.de/de/bau-und-umwelt/professuren/komplexe-tragwerke/forschung/aktuelle-projekte/protelc/" title="Green2Smart Science Camp">here</a>.
    </footer>
</body>
</html>
